.mbot{
margin-bottom:65px;
}
.mtop{
margin-top:65px; 
}
.centeredW{
  margin: auto;
  width: 100%;
  border: 0px solid red;
   max-width:500px;
}

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
div  .centeredW{
 border:2px solid red;
}
}